@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

*,
html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

body {
  background: #282828;
  font-family: 'Montserrat', sans-serif;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
}

header {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}

header img {
  width: 400px;
}

content {
  height: 85vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 0.8rem;
}

.form-group label {
  font-size: 1rem;
  font-family: 'Montserrat Semibold', sans-serif;
  margin-bottom: 0.5rem;
}

.form-group input,
.form-group select {
  background: #F58311;
  width: 500px;
  height: 50px;
  border: 1px solid transparent;
  border-radius: 5px;
  font-family: 'Montserrat', sans-serif;
  color: white;
  font-size: 1rem;
  padding: 0 15px;
  outline: none;
  transition: border-color 0.2s ease-in;
}

.form-group button {
  background-image: linear-gradient(-90deg, #F58311 0%, #FDDB33 100%);
  border-radius: 5px;
  border: 0;
  height: 50px;
  width: 250px;
  color: #1A1A1A;
  font-size: 1rem;
  font-family: 'Montserrat Bold', sans-serif;
  cursor: pointer;
  align-self: center;

}

.form-group:last-child {
  margin-top: 1.5rem;
}

.result-container {
  margin-top: 1rem;
}

.result-content {
  margin-top: 1rem;
  background: #F58311;
  border-radius: 5px;
  padding: 0.2rem;
}

.result-content ul {
  list-style: none;
}

.result-content ul li {
  font-size: 0.9rem;
  font-weight: bold;
  font-family: 'Montserrat Bold', sans-serif;
  line-height: 2rem;
}

.result-content ul li strong {
  color: #000000;
}

@media only screen and (max-width : 767px) {
  header img {
    width: 300px;
}}

/* ////......Media query......//// */

@media only screen and (max-width : 480px) {
    
    .form-group input,
    .form-group select {
      width: 300px;
}}

@media only screen and (max-width : 767px) {
      .form-group button {
        width: 150px;
}}

@media only screen and (max-width : 767px) {
  .result-container {
    margin-top: 1rem;
    width: 300px
}}
